.recipe-card {
  all: unset;
  display: flex;
  align-items: center;
  padding: 12px;
  border-color: rgba(0, 0, 0, 0.23) !important;
  cursor: pointer;
}

.recipe-card-image {
  border-radius: 4px;
  max-width: 100px;
  max-height: 100px;
}

.recipe-card-description {
  margin-bottom: 6px;
}
